@font-face {
    font-family: 'LiberationSans';
    src: url('../webfonts/LiberationSans-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../webfonts/LiberationSans-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../webfonts/LiberationSans-Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../webfonts/LiberationSans-BoldItalic.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationMono';
    src: url('../webfonts/LiberationMono-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationMono';
    src: url('../webfonts/LiberationMono-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationMono';
    src: url('../webfonts/LiberationMono-Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationMono';
    src: url('../webfonts/LiberationMono-BoldItalic.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RedHatFont';
    src: url('../webfonts/RedHatDisplay-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RedHatFont';
    src: url('../webfonts/RedHatDisplay-Italic.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RedHatFont';
    src: url('../webfonts/RedHatDisplay-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RedHatFont';
    src: url('../webfonts/RedHatDisplay-Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'HomeVideo';
    src: url('../webfonts/HomeVideo-BLG6G.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HomeVideo';
    src: url('../webfonts/HomeVideoBold-R90Dv.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}